body, html{
	padding: 0px;
	border: 0px;
	margin: 0px;
	height: 100%;
}
.bg-m{
	background-color:#4d5b64;
	opacity: 0.98;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("hero-image.jpg");
  height: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.m-subtitle{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.m-title{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: #8ec44c;
	font-size: 130px;
	text-shadow: 0 0 0.1em #8ec44c, 0 0 0.1em #8ec44c;
}

/*   PRZYCISK */

.wrapper {
  display: block;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button{
    text-decoration: none;
    text-align: center;
    color: #8ec44c;
    border: 2px solid #8ec44c;
    border-radius: 4px;
    position: relative;
    width: 150px;
    line-height: 40px;
    display: inline-block;
    font-family: Arial;
    font-weight: 600;
    overflow: hidden;
}
.button:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: -70px;
    transform: skewX(-45deg) translateX(0px);
    transition: none;
  }
.button:hover{
    background-color: #8ec44c;
    color: #ffffff;
    border-bottom: 2px solid #8ec44c;
}

.button:hover:before{
    transform: skewX(-45deg) translateX(250px);
    transition: all 0.4s ease-in;
}


/*   PRZYCISK */

.box1{
	text-align: center;
	padding-top: 150px;
}
.ico-text1{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;	
}
.menu-text{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 7px;
}
.m-ico{
	margin: 15px;
}
	/* O FIRMIE */
.onas-image {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("onas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#onas{
  margin-top: 100px;
  margin-bottom: 100px;
}
.onas-text {
  text-align: center;
  color: white;
}
.onas-subtitle{
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.onas-title{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: #8ec44c;
	font-size: 100px;
	text-shadow: 0 0 0.1em #8ec44c, 0 0 0.1em #8ec44c;
}

    /* O FIRMIE */

.box2{
	text-align: center;
	padding-top: 150px;
}
.m-text2{
  margin-left: middle;
}
.m-text-center{
  text-align: center;
}
.wyrownywanie-srodek{
  position: relative;
  top:35%;
}
.wyrownywanie-srodek-1{
  position: relative;
  top:15%;
}
.lokalizacja{
  margin-top: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("lokalizacja.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.m-mapa{
  margin-top: 20px;
}
.dane-lokalizacja-pl{
  margin-top: 55px;
}
.lokalizacja-odstep{
  margin-top: 50px;
}
#m-mapa1{
  width: 90%; 
  height: 90%;
}